<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div th:replace="header :: menu2"></div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">

            <!--订阅列表-->
            <div th:if="${not #lists.isEmpty(departs)}">
                <div th:each="depart:${departs}">
                    <div class="media">
                        <a href="" class="pull-left" th:href="@{/bettertoutiao/departNews(departId=${depart.id})}" ><img src="http://olcd75zw3.bkt.clouddn.com/heu_logo_small.jpg" class="media-object" alt=''/></a>
                        <a href="#" class="pull-right"><span class="glyphicon glyphicon-thumbs-up">25赞</span></a>
                        <a href="#" class="pull-right"><span class="glyphicon glyphicon-heart">已收藏</span></a>
                        <div class="media-body">
                            <h4 class="media-heading" th:text=" ${depart.name}"></h4>
                            <p class="text-left lead" th:text=" ${depart.content}"></p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <!--分页-->
            <ul class="pagination">
                <li>
                    <a href="home.html" th:href="@{/bettertoutiao/depart(id=${departId},page=${pre})}">上一页</a>
                </li>
                <li>
                    <span th:text="${cur}"></span>
                </li>
                <li>
                    <a href="home.html" th:href="@{/bettertoutiao/depart(id=${departId},page=${next})}">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>