<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<!--头部文件-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>校园头条-更懂你的头条</title>
    <link rel="shortcut icon" href="/static/res/logo.png"/>
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
    <link href="/static/css/mricode.pagination.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="/static/js/mricode.pagination.js"></script>
</head>
<body>

<!--头部菜单2-->
<div th:fragment="menu2" role="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                <a class="navbar-brand" href="/home">校园头条</a>
                -->
                <a class="navbar-brand" href="/home">
                    <img class="media-object" src="/static/res/logo-navi.png" alt="Brand">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/bettertoutiao/home">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="/bettertoutiao/depart">关注</a></li>
                    <li><a href="/bettertoutiao/release">发布</a></li>
                    <li><a href="#">广场</a></li>
                    <!-- 拓展功能下拉框-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">成绩查看</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">课程</a></li>
                        </ul>
                    </li>
                </ul>


                <!--个人中心-->
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/bettertoutiao/msg/list">消息</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">个人中心<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li th:if="${user} != null"><a href="#"  th:text=" ${user.name}" ></a></li>
                            <li><a href="#">设置</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/bettertoutiao/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>


                <!--导航栏登陆页面-->
                <div th:if="${user} == null">
                    <form class="navbar-form navbar-right" action="/bettertoutiao/login/" id="loginform" method="post">
                        <div class="form-group">
                            <input name="username" id="username" type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" id="password" type="password" placeholder="Password"
                                   class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">登陆</button>
                        <button type="submit" class="btn btn-danger">注册</button>
                    </form>
                </div>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入关键词...">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
    <!--加空行-->
    <br>
    <br>
    <br>
</div>

<!--右侧标签-->
<div class="col-md-3 column" th:fragment="tags">
    <span class="label label-default">标签</span> <span class="label label-default">标签</span>
</div>

<!--左侧sidebar-->
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <div class="list-group" th:if="${not #lists.isEmpty(depart)}">
        <a href="/home" class="list-group-item active">推荐</a>
        <div th:each="depart:${depart}">
            <a href="home.html" class="list-group-item" th:href="@{/bettertoutiao/departNews(departId=${depart.id})}"
               th:text=" ${depart.name}"></a>
        </div>
    </div>
</div><!--/.sidebar-offcanvas-->

</body>
</html>