<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<div th:replace="header :: head"></div>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div th:replace="header :: menu2"></div>
        </div>
    </div>

    <div class="row clearfix">
        <div th:replace="header :: sidebar"></div>
        <div class="col-md-8 column">
            <div th:if="${not #lists.isEmpty(news)}">
                <div th:each="news:${news}">
                    <h2 th:text=" ${news.title}"></h2>
                    <p>
                        <a class="btn" href="detail.html" th:href="@{/news/{nid}(nid=${news.id})}">查看详情 »</a>
                    </p>
                    <div class="page-header"></div>
                </div>
            </div>
            <!--分页-->
            <ul class="pagination">
                <li>
                    <a href="home.html" th:href="@{/depart(id=${departId},page=${pre})}">上一页</a>
                </li>
                <li>
                    <span th:text="${cur}"></span>
                </li>
                <li>
                    <a href="home.html" th:href="@{/depart(id=${departId},page=${next})}">下一页</a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>